.footer {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    box-shadow: 0 -1px 5px var(--main-color);
    
}

.footer p {
    padding: 10px;
    width: 100%;
    background: var(--secondary-color);
    color: #000;
    font-weight: 400;
    letter-spacing: 0.5px;
}

@media(min-width: 1200px) {
    .footer {
        width: 100%;
    }
}