
.sidebar {
    display: block;
    top: 40px;
    background-color: var(--main-color);
    width: 200px;
    height: 100vh;
    float: left;
    left: -230px;
    position: fixed;
    padding: 10px;
    box-shadow: 1px 0 10px #000;
    z-index: 9;
    transition: 1s ease;
    /*overflow: scroll;*/
}
.chevron {
    background-color: var(--main-color);
    color: #000;
    width: fit-content;
    padding: 15px 5px;
    clip-path: polygon(100% 7%, 100% 93%, 0 100%, 0 0);
    border-radius: 0 10px 10px 0;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-100%);
}

.chevron:hover {
    cursor: pointer;
    background-color: var(--main-color-hover);
}

.openSidebar{
    left: 0;
}
.chevronArrow{
    transition: 0.7s ease;
}
.openChevron{
    transform: rotateZ(180deg);
}
.openPage{
    margin-left: 200px !important;
}

@media(min-width: 1200px) {
    .sidebar {
        display: block;
        top: 40px;
        background-color: var(--main-color);
        width: 200px;
        height: 100vh;
        float: left;
        left: -205px;
        position: fixed;
        padding: 10px;
        box-shadow: 1px 0 10px #000;
        z-index: 9;
    }
    .openSidebar{
        left: 0;
    }
    .chevron {
        background-color: var(--main-color);
        color: #000;
        width: fit-content;
        padding: 15px 5px 15px 10px;
        clip-path: polygon(100% 7%, 100% 93%, 0 100%, 0 0);
        border-radius: 0 10px 10px 0;
        position: absolute;
        top: 50%;
        left: 100%;
        transform: translateY(-100%);
    }

    .chevron:hover {
        cursor: pointer;
        background-color: var(--main-color-hover);
    }
}

